* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.logo {
  width: 100%;
  height: 400px;
  image-rendering: auto;
  border-image-width: auto;
}
.horizontal {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
}
.horizontal > li:hover {
  cursor: pointer;
  text-decoration: underline red;
}
.product_list {
  width: 100%;
  height: auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
  grid-template-rows: auto;
}
.productItem {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.productItem > img {
  width: 50%;
}
.productItem > p {
  padding: 0;
  margin: 0;
}
.productItem > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#d8d9db),
    color-stop(80%, #fff),
    to(#fdfdfd)
  );
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  -webkit-box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

button:active {
  -webkit-box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  -webkit-box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.cardItem{
  width: 80%;
  background-color: silver;
  border: 1px solid black;
  border-radius: 24px;
  padding: 10px;
  margin: 10px;
}
.cardItem .title {
  font-weight: bolder;
}
.cardItem .arjeq {
  font-style: italic;
  color: red;
}
.cardItem .delete {
  color: rgb(13, 0, 255);
}
.cardItem> button{
  width: 40px;
  height: 20px;

}
.card {
  position: absolute;
  top: 0px;
  left: auto;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #606060;
  border: 1px solid ;
  /* overflow:auto; */
   /* height:350px; */
}
.card .total{
  text-align: center;
  font-size: 30px;
  font-style: italic;


}
.card .total >span {
  color: red;
  font-size: 30px;
  font-style: italic;
  
}